
RewriteEngine on  
  
RewriteRule ^create-payment  create-payment.php [NC,L]
RewriteRule ^get-all-deposit  get-all-deposit.php [NC,L]
RewriteRule ^estimated-price  estimated-price.php [NC,L]
RewriteRule ^payment-status  payment-status.php [NC,L]
RewriteRule ^get-currency  get-currency.php [NC,L]




